{{- $logoFile := .Get "file" -}}
{{- $background := .Get "background" -}}
{{- $caption := .Get "caption" -}}
{{- $class := .Get "class" -}}
{{- if not $class -}}{{- $class = "" -}}{{- end -}}
{{- $logoFilePath := print "/img/branding/new/" $logoFile ".svg" -}}
<a class="branding-logo {{ $background }} {{ $class -}}" href="{{ $logoFilePath }}">
  <img loading="lazy" class="branding-logo-image {{ $class }}" src="{{ $logoFilePath }}" />
  <div class="branding-logo-caption">{{- $caption -}}</div>
</a>
