<div class="branding-colors">
  <div class="branding-colors-row">
    <div class="branding-colors-item primary"><div class="branding-color-text">#ff7b00</div></div>
    <div class="branding-colors-item primary-light"><div class="branding-color-text">#ffab00</div></div>
  </div>
  <div class="branding-colors-row">
    <div class="branding-colors-item secondary"><div class="branding-color-text">#2e1b66</div></div>
    <div class="branding-colors-item secondary-light"><div class="branding-color-text">#4a2c94</div></div>
  </div>
</div>
