<div class="email-obfuscator">
  <button class="secondary centered shortcode" id="show-email-button">
    {{- partial "components/icon.html" "email" -}}
    {{- i18n "contactShowEmail" -}}
  </button>
</div>
