{{- $gameSlug := .Get 0 -}}
{{- $gamePage := site.GetPage (print "/games/" $gameSlug) -}}
<!-- Get thumbnail from English page -->
{{- $defaultGamePage := $gamePage -}}
{{- range where $gamePage.AllTranslations "Lang" site.Params.defaultLanguageCode -}}
  {{- $defaultGamePage = . -}}
{{- end -}}

{{- $unknownValue := i18n "gameUnknownValue" | safeHTML -}}

{{- if $defaultGamePage -}}
  {{- $gameThumbnail := $defaultGamePage.Resources.GetMatch $defaultGamePage.Params.thumbnail -}}
  {{- with $gameThumbnail -}}
    {{- $resizedGameThumbnail := .Fit "700x360 webp" -}}
    <a class="game-thumbnail-shortcode" href="{{ $gamePage.RelPermalink }}">
      <img class="game-thumbnail-shortcode-image" loading="lazy" src="{{- $resizedGameThumbnail.RelPermalink -}}" />
      <div class="game-thumbnail-shortcode-metadata">
        <div class="game-thumbnail-shortcode-metadata-title">
          {{- $defaultGamePage.Title | safeHTML -}}
        </div>
        <div class="game-thumbnail-shortcode-metadata-info">
          <div class="game-thumbnail-shortcode-metadata-developer">
            {{- with $defaultGamePage.Params.Developer -}}
              {{- if (eq (printf "%T" .) "[]string") -}}
                {{- delimit . ", " -}}
              {{- else -}}
                {{- . -}}
              {{- end -}}
            {{- else -}}
              {{- $unknownValue -}}
            {{- end -}}
          </div>

          <span class="game-thumbnail-shortcode-metadata-bullet">•</span>

          <div class="game-thumbnail-shortcode-metadata-release-date">
            {{- with $defaultGamePage.Params.initialReleaseDate -}}
              {{ $defaultGamePage.Params.initialReleaseDate| time.Format ":date_long" }}
            {{- else -}}
              {{- with $defaultGamePage.Params.download -}}
                {{- i18n "gameDemo" | safeHTML -}}
              {{- else -}}
                {{- i18n "gameNotReleased" | safeHTML -}}
              {{- end -}}
            {{- end -}}
          </div>
        </div>
        <div class="game-thumbnail-shortcode-metadata-excerpt">
          {{- $defaultGamePage.Params.Excerpt | safeHTML -}}
        </div>
        <div class="game-thumbnail-shortcode-button">
          <span>{{- "Go to game page" -}}</span>
          {{- partial "components/icon.html" "arrow-right" -}}
        </div>
      </div>
    </a>
  {{- end -}}
{{- end -}}
