{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div class="container content content-container" role="main">
    {{- with .Content -}}
      <article role="main">
        {{- .Content -}}
      </article>
    {{- end -}}
    <ul class="about-items">
      {{- $forumsDict := dict
        "Title"         (i18n "communityForums" | safeHTML)
        "RelPermalink"  .Site.Params.forumsURL
        "Excerpt"       (i18n "communityForumsDesc" | safeHTML)
      -}}
      {{- $forumsFrDict := dict
        "Title"         (i18n "communityForumsFr" | safeHTML)
        "RelPermalink"  .Site.Params.forumsFrURL
        "Excerpt"       (i18n "communityForumsFrDesc" | safeHTML)
      -}}
      {{- $discordDict := dict
        "Title"         "Discord"
        "RelPermalink"  .Site.Params.social.discord
        "Excerpt"       (i18n "communityDiscordDesc" | safeHTML)
      -}}
      {{- $links := slice $forumsDict $forumsFrDict $discordDict -}}
      {{- range $links -}}
        <li>
          {{- partial "components/about-item.html" . -}}
        </li>
      {{- end -}}
    </ul>
  </div>
{{- end -}}
