{{- define "main" -}}
  {{- $iconMapping := dict
    "solarus-launcher" "/img/branding/launcher_icon.svg"
    "solarus-quest-editor" "/img/branding/quest_editor_icon.svg"
  -}}


  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div class="container content-container content">
    <!-- Markdown content -->
    <article role="main">
      {{- .Content -}}
    </article>

    <!-- Iterate over all sub-pages that have the 'downloadPackage' property. -->
    <!-- Each page corresponds to an app. -->
    {{- $defaultLangPage := partial "functions/get-default-lang-page" . -}}
    {{- range $defaultLangPage.Pages -}}
      {{- if (and .Params.downloadPackage (not .IsPage)) -}}
        <div id="{{ .Params.downloadPackage }}" class="download-package">
          {{- $iconUrl := index $iconMapping .Params.downloadPackage -}}
          <img loading="lazy" class="download-package-logo" src="{{ $iconUrl }}" />
          <h2>{{ .Params.Title }}</h2>
          <p>{{- i18n .Params.i18nKeys.description | safeHTML -}}</p>
          <!-- Iterate over all sub-sub-pages. -->
          <!-- Each page corresponds to a platform. -->
          <div class="download-list">
            {{- range .Pages -}}
              {{- $item := partial "functions/get-gitlab-release-data-legacy.html" .Params -}}
              {{- partial "components/download-item.html" $item -}}
            {{- end -}}
          </div>
          <!-- Link to help -->
          <p>{{- i18n .Params.i18nKeys.help | safeHTML -}}</p>
          {{- partial "components/button.html" (dict
            "text" (i18n .Params.i18nKeys.button | safeHTML)
            "icon" "arrow-right"
            "href" (print site.Params.docsURL "/" .Params.docsEndpoint )
            "align" "right"
            "role" "primary" )
          -}}
        </div>
        <hr class="download-package-separator" />
      {{- end -}}
    {{- end -}}


    <!-- Previous versions -->
    <h2>{{- i18n "downloadPreviousVersionsTitle" | safeHTML -}}</h2>
    {{- $previousDownloadsURL := (.Site.GetPage "/download/all").RelPermalink -}}
    <p>{{- i18n "downloadPreviousVersionsDesc" $previousDownloadsURL | safeHTML -}}</p>
  </div>
{{- end -}}
