{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{ .Title | safeHTML }}</h1>
      </div>
    </div>
  </div>

  {{/* Get data from API */}}
  {{- $playerJsonUrl := print (printf site.Params.downloads.gitlabApi "6933824") "/packages" -}}
  {{- $playerJsonData := getJSON $playerJsonUrl -}}

  {{- $developerJsonUrl := print (printf site.Params.downloads.gitlabApi "6933848") "/packages" -}}
  {{- $developerJsonData := getJSON $developerJsonUrl -}}

  {{- $mergedScratch := newScratch -}}

  <!--Get data for player packages -->
  {{- range $playerJsonData -}}
    {{- $filesJsonUrl := (print $playerJsonUrl "/" (int .id) "/package_files") -}}
    {{- $filesJsonData := getJSON $filesJsonUrl -}}
    {{- $filesScratch := newScratch -}}
    {{- $filesScratch.Set "_baseUrl" ._links.web_path -}}
    {{- $filesScratch.Set "_icon" "/img/branding/launcher_icon.svg" -}}
    {{- range $filesJsonData -}}
      {{- if (in .file_name "macos") -}}
        {{- $filesScratch.Set "macOS" (int .id) -}}
      {{- else -}}
        {{- $filesScratch.Set "Windows" (int .id) -}}
      {{- end -}}
    {{- end -}}
    {{- $mergedScratch.SetInMap .version "Solarus Launcher" $filesScratch -}}
  {{- end -}}

  <!-- Same thing for developer packages -->
  {{- range $developerJsonData -}}
    {{- $filesJsonUrl := (print $developerJsonUrl "/" (int .id) "/package_files") -}}
    {{- $filesJsonData := getJSON $filesJsonUrl -}}
    {{- $filesScratch := newScratch -}}
    {{- $filesScratch.Set "_baseUrl" ._links.web_path -}}
    {{- $filesScratch.Set "_icon" "/img/branding/quest_editor_icon.svg" -}}
    {{- range $filesJsonData -}}
      {{- if (in .file_name "macos") -}}
        {{- $filesScratch.Set "macOS" (int .id) -}}
      {{- else -}}
        {{- $filesScratch.Set "Windows" (int .id) -}}
      {{- end -}}
    {{- end -}}
    {{- $mergedScratch.SetInMap .version "Solarus Quest Editor" $filesScratch -}}
  {{- end -}}

  <!-- Reverse versions order -->
  {{- $versions := slice -}}
  {{- range $version, $links := $mergedScratch.Values -}}
    {{- $versions = $versions | append $version -}}
  {{- end -}}
  {{- $paddedVersions := apply $versions "partial" "functions/pad-zero-prefix" "." -}}
  {{- $versionsReversed := (sort $paddedVersions "value" "desc") -}}
  {{- $versionsReversed = apply $versionsReversed "partial" "functions/trim-zero-prefix" "." -}}

  <!-- Map to display platform icons -->
  {{- $iconMapping := dict
    "Windows" "windows"
    "macOS" "apple"
    "Linux" "linux"
    "Raspberry Pi" "raspberrypi"
    "Android" "android"
  -}}


  <div class="container content content-container">
    <main class="article-grid">
      <article role="main">
        {{- .Content -}}
        <div class="package-links-versions">
          {{- range $versionsReversed -}}
            {{- $version := . -}}
            {{- $links := $mergedScratch.Get . -}}
            <div class="package-links-version">
              {{- $versionName := print "v" $version -}}
              {{- $anchor := $versionName -}}
              <h2 id="{{ $anchor }}">{{- $versionName -}}</h2>
              <div class="package-links-kinds">
                {{- range $kind, $filesScratch := $links -}}
                  {{- if (not (hasPrefix $kind "_")) -}}
                    <div class="package-links-kind">
                      {{ $packageIcon := $filesScratch.Get "_icon" }}
                      <img loading="lazy" class="package-links-logo" src="{{ $packageIcon }}" />
                      <h3>{{- $kind -}}</h3>
                      <ul>
                        {{- $baseUrl := print site.Params.downloads.gitlabUrl ($filesScratch.Get "_baseUrl") -}}
                        {{- $baseUrl = replace $baseUrl "/packages/" "/package_files/" -}}
                        {{- $baseUrl = print (path.Dir $baseUrl) "/" -}}
                        {{- range $platform, $url := $filesScratch.Values -}}
                          {{- if (not (hasPrefix $platform "_")) -}}
                            {{- $fullUrl := print $baseUrl $url "/download" -}}
                            <li>
                              <a href="{{ $fullUrl }}">
                                {{- $iconId := index $iconMapping $platform -}}
                                {{- partial "components/icon.html" $iconId -}}
                                {{- $platform -}}
                              </a>
                            </li>
                          {{- end -}}
                        {{- end -}}
                      </ul>
                    </div>
                  {{- end -}}
                {{- end -}}
              </div>
            </div>
          {{- end -}}
        </div>
      </article>
      <aside class="table-of-contents-aside" id="table-of-contents-aside">
        <div class="table-of-contents-title">{{- i18n "tableOfContents" | safeHTML -}}</div>
        <nav class="table-of-contents-nav">
          <ul>
            {{- range $versionsReversed -}}
              {{- $version := . -}}
              {{- $links := $mergedScratch.Get . -}}
              {{- $href := print "#v" $version -}}
              <li><a href="{{ $href }}">{{- $version -}}</a></li>
            {{- end -}}
          </ul>
        </nav>
      </aside>
    </main>
  </div>
{{- end -}}
