@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter-Regular-subset.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter-Italic-subset.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Inter-Bold-subset.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Inter-BoldItalic-subset.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Code';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/FiraCode-Regular-subset.woff2') format('woff2');
}
/* code bold */
@font-face {
  font-family: 'Fira Code';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/FiraCode-Bold-subset.woff2') format('woff2');
}
/* title */
@font-face {
  font-family: 'Ubuntu Titling';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/UbuntuTitling-Bold.woff2') format('woff2');
}
