.git-container {
  background-color: $color-background-git;
}

.git {
  font-size: $font-size-caption;
  padding: #{$spacing-base / 2} 0;
  background-color: $color-background-breadcrumb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: $color-text-caption-darker;
  gap: $spacing-base;
  flex-wrap: wrap;
  row-gap: 0;

  @media (max-width: $breakpoint-tablet-portrait) {
    justify-content: center;
  }

  a {
    color: $color-text-caption;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-base / 4;
    white-space: nowrap;

    &:hover {
      color: $color-primary-hover;
      svg {
        fill: $color-primary-hover !important;
      }
    }

    &:active {
      color: $color-primary-pressed;
      svg {
        fill: $color-primary-pressed !important;
      }
    }
  }

  .git-edit {
    display: flex;
    flex-direction: row;
    gap: $spacing-base;
    row-gap: 0;
    flex-wrap: wrap;

    @media (max-width: $breakpoint-tablet-portrait) {
      justify-content: center;
    }
  }

  .git-page-message {
    white-space: nowrap;
  }

  .git-latest-update {
    color: $color-secondary-hover;
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: $spacing-base / 4;
    align-items: center;

    @media (max-width: $breakpoint-tablet-portrait) {
      text-align: center;
    }
  }
}
