article {
  img,
  video {
    border-radius: $border-radius / 2;
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacing-base * 2;
    margin-bottom: $spacing-base * 2;
  }
}

a.responsive-img {
  min-width: $responsive-image-min-width;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
