.package-links-versions {
  margin-top: $spacing-base * 2;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-base * 2;

  .package-links-version {
    h2 {
      margin-top: 0;
      margin-bottom: $spacing-base;
    }
  }
}

.package-links-kinds {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-base / 2;

  .package-links-kind {
    background: $color-background-page;
    padding: $spacing-base #{$spacing-base * 1.5};
    border-radius: $border-radius;
    display: flex;
    column-gap: $spacing-base;
    flex-direction: row;
    align-items: center;

    .package-links-logo {
      width: $icon-height * 2;
      height: $icon-height * 2;
      margin: 0;
      padding: 0;
    }

    h3 {
      margin: 0;
      font-family: $font-family;
      color: $color-text;
      font-size: $font-size-title-small;
      font-weight: normal;
      min-width: 172px;
      line-height: 1.35em;

      @media (max-width: $breakpoint-tablet-landscape) {
        min-width: 100px;
        max-width: 100px;
      }

      @media (max-width: $breakpoint-phone-portrait) {
        display: none;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: $spacing-base;
      flex-wrap: wrap;
      flex-grow: 1;

      li {
        margin: 0;
        padding: 0;

        a {
          background-color: $color-secondary;
          padding: #{$spacing-base / 2} $spacing-base;
          border-radius: $border-radius;
          color: $color-text-emphase;
          display: flex;
          flex-direction: row;
          gap: $spacing-base / 2;
          align-items: center;
          box-shadow: $elevation-1;

          &:hover {
            box-shadow: $elevation-2;
            background-color: $color-secondary-hover;
          }

          &:active {
            box-shadow: $elevation-3;
            background-color: $color-secondary-pressed;
            scale: 1.025;
          }

          &:focus {
            outline-offset: 0;
            background-color: $color-secondary-hover;
            box-shadow: $elevation-2;
          }
        }

        @media (max-width: $breakpoint-phone-portrait) {
          width: 100%;
        }
      }
    }
  }
}
