$gameTrailerWidth: 540px;
$gameTrailerHeight: #{($youtube-player-height / $youtube-player-width) * $gameTrailerWidth};

.youtube-video {
  margin: #{$spacing-base * 2} auto;
  display: block;
  width: $youtube-player-width;
  height: $youtube-player-height;
  max-width: 100%;

  &.game-trailer {
    width: 100%;
  }
}

.youtube-player {
  width: $youtube-player-width;
  height: $youtube-player-height;
  max-width: 100%;
  border-radius: $border-radius;
  margin: #{$spacing-base * 2} auto;
  display: grid;
  background-color: $color-background-footer;
  box-shadow: $elevation-1;
  overflow: hidden;

  &.game-trailer {
    width: 100%;
    height: auto;
  }

  .youtube-video {
    display: none;
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }

  .youtube-player-thumbnail {
    margin: 0;
    grid-row: 1;
    grid-column: 1;
  }

  .youtube-player-button {
    padding: $spacing-base;
    margin: auto;
    outline-offset: 0;
    display: block;
    grid-row: 1;
    grid-column: 1;
    height: fit-content;
    width: fit-content;
    box-shadow: $elevation-3;

    &:hover {
      transform: scale(1.075);
    }
    &:active {
      transform: scale(1.25);
    }

    .icon {
      margin: auto;
      width: $icon-height * 2;
      height: $icon-height * 2;
      svg {
        width: 100%;
        height: 100%;
      }
      svg,
      svg * {
        fill: $color-primary-foreground;
      }
    }
  }

  @media (max-width: $breakpoint-tablet-landscape) {
    width: unset;
    height: unset;
  }
}
