{{- $redirectUrl := safeHTML page.Params.redirectUrl -}}
{{- $redirectUrl = partial "functions/get-config-param" $redirectUrl -}}
<!doctype html>
<html>
  <head>
    <title>Redirection</title>
    <link rel="canonical" href="{{ $redirectUrl }}" />
    <meta name="robots" content="noindex" />
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url={{ $redirectUrl }}" />
  </head>
  <body>
    <h1>Redirection</h1>
    <p>This page has moved. You should now be automatically redirected to the new URL.</p>
    <p>If not, <a href="{{ $redirectUrl }}">click here</a>.</p>
  </body>
</html>
