{{- define "header" -}}
  <!-- No header on 404 pages -->
{{- end -}}
{{- define "main" -}}
  <div role="main" class="container content-container content">
    <div class="error404">
      {{- partial "components/icon.html" "error" -}}
      <h1>
        {{- i18n "error404Title" | safeHTML -}}
      </h1>
      <p>
        {{- i18n "error404Desc" | safeHTML -}}
      </p>
    </div>
  </div>
{{- end -}}
