{{- $currentLanguage := .Language.Lang -}}
{{- $allTranslations := .AllTranslations -}}
{{- if (eq (len $allTranslations) 0) -}}
  {{- $allTranslations = (.GetPage "/").AllTranslations -}}
{{- end -}}
<header {{ if .IsHome }}class="home-header"{{ end }}>
  <div class="container">
    <nav>
      <a class="title" href="{{ .Site.Home.RelPermalink }}">
        <div class="logo">
          <img loading="lazy" class="logo-icon" src="/img/branding/logo_icon.svg" />
          <img loading="lazy" class="logo-text" src="/img/branding/logo_text.svg" />
        </div>
      </a>
      <input type="checkbox" class="menu-checkbox" id="menu-checkbox" /><label for="menu-checkbox" class="menu-show">
        {{- partial "components/icon.html" "menu" -}}
      </label>
      <ul class="menu-elements">
        <label for="menu-checkbox" class="menu-close">
          <a>{{- partial "components/icon.html" "close" -}}</a>
        </label>
        {{ $currentPage := . }}
        {{- range .Site.Menus.main.ByWeight -}}
          {{- $highlightClass := "" -}}
          {{- if or ($currentPage.IsMenuCurrent  "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
            {{- $highlightClass = "current" -}}
          {{- end -}}
          {{- $label := (i18n (print "" .Name)) | safeHTML -}}
          {{- $cssClass := print "nav-section " $highlightClass -}}
          <li class="menu-element">
            {{- if .HasChildren -}}{{- .Children -}}{{- end -}}
            {{- $menuItemHref := .URL -}}
            {{- with site.GetPage .URL -}}
              {{- $menuItemHref = .RelPermalink -}}
            {{- end -}}
            <a title="{{ $label }}" class="{{ $cssClass }}" href="{{ $menuItemHref }}">{{ $label }}</a>
          </li>
        {{ end }}
        <hr class="mobile-menu-separator header-mobile-menuitem" />
        <li class="menu-element header-mobile-menuitem">
          <a class="nav-section" href="/search">
            {{- partial "components/icon.html" "search" -}}
            {{ i18n "search" | safeHTML }}</a
          >
        </li>
        <li class="menu-element header-mobile-menuitem">
          <ul class="mobile-languages-list">
            {{- range $allTranslations -}}
              <li>
                <a href="{{ .RelPermalink }}">
                  {{- partial "components/flag.html" .Language.Lang -}}
                </a>
              </li>
            {{- end -}}
          </ul>
        </li>
      </ul>
      <div class="menu-element language-dropdown" id="language-dropdown">
        <a>{{- partial "components/flag.html" $currentLanguage -}}</a>
      </div>
      <div class="menu" data-dropdown="language-dropdown">
        <ul class="menu-items">
          {{- range $allTranslations -}}
            {{- $isCurrent := eq .Language.Lang $currentLanguage -}}
            {{- $currentClass := cond $isCurrent "current" "" -}}
            <li class="menu-item">
              <a class="menu-item-link {{ $currentClass }}" href="{{ .RelPermalink }}">
                {{- partial "components/flag.html" .Language.Lang -}}
                {{- .Language.LanguageName -}}
              </a>
            </li>
          {{- end -}}
        </ul>
      </div>
      {{- partial "components/searchbox.html" (dict "id" "searchbox") -}}
    </nav>
  </div>
</header>
