{{- if not .IsHome -}}
  <div class="container breadcrumb-container">
    <div class="breadcrumb">
      <div class="breadcrumb-items">
        {{- template "breadcrumbnav" (dict "p1" . "p2" .) -}}
      </div>
    </div>
  </div>
{{- end -}}

{{- define "breadcrumbnav" -}}

  {{- $defaultPage := .p1 -}}
  {{- range where .p1.AllTranslations "Lang" site.Params.defaultLanguageCode -}}
    {{- $defaultPage = . -}}
  {{- end -}}

  {{- if .p1.Parent -}}
    {{- template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) -}}
  {{- else if not .p1.IsHome -}}
    {{- template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 ) -}}
  {{- end -}}

  {{- if .p1.Parent -}}
    {{- partial "components/icon.html" "arrow-right-simple" -}}
  {{- end -}}
  <span class="breadcrumb-item">
    {{- $title := (cond (eq .p1.Params.Title nil) $defaultPage.Params.Title .p1.Params.Title) -}}
    {{- if eq .p1 .p2 -}}
      {{- $title | safeHTML -}}
    {{- else -}}
      {{- if .p1.IsHome -}}
        <a href="{{ .p1.RelPermalink }}">{{- i18n "home" | safeHTML -}}</a>
      {{- else -}}
        <a href="{{ .p1.RelPermalink }}">{{- $title | safeHTML -}}</a>
      {{- end -}}
    {{- end -}}
  </span>
{{- end -}}
