{{- $icon := .icon | safeHTML -}}
{{- $text := .text | safeHTML -}}
{{- $href := .href | safeHTML -}}
{{- $align := .align | safeHTML -}}
{{- $role := .role | safeHTML -}}
{{- $tooltip := .tooltip | safeHTML -}}

{{- $extraCssClass := .class | safeHTML -}}
{{- $cssClass := print "button " $align " " $role " " $extraCssClass -}}

{{- if eq $align "right" -}}
  <a href="{{ $href }}" class="{{ $cssClass }}" title="{{ $tooltip }}">
    <div class="text">{{- $text -}}</div>
    {{- partial "components/icon.html" $icon -}}
  </a>
{{- else -}}
  <a href="{{ $href }}" class="{{ $cssClass }}" title="{{ $tooltip }}">
    {{- partial "components/icon.html" $icon -}}
    <div class="text">{{- $text -}}</div>
  </a>
{{- end -}}
