{{- $iconMapping := dict
  "windows" "windows"
  "macos" "apple"
  "linux" "linux"
  "raspberrypi" "raspberrypi"
  "android" "android"
-}}
<div class="download-item">
  <div class="download-item-platform-logo">
    {{- $iconId := index $iconMapping .platform -}}
    {{- partial "components/icon.html" $iconId -}}
  </div>
  <div class="download-item-platform-name">
    {{- .name -}}
  </div>
  {{- partial "components/button.html" (dict
    "text" (i18n "homeDownload" | safeHTML)
    "icon" "download"
    "href" .url
    "role" "secondary"
    "class" "download-item-button")
  -}}
  <div class="download-item-metadata">
    {{- with .size -}}
      {{- $sizeInMB := div . 1048576 -}}
      <span>{{- $sizeInMB }}&nbsp;MB</span>
      <span class="download-item-metadata-bullet">•</span>
    {{- else -}}
      <span>???&nbsp;MB</span>
      <span class="download-item-metadata-bullet">•</span>
    {{- end -}}
    <span>v{{- .version -}}</span>
  </div>
</div>
