<li class="features-item {{ if .Inverted }}inverted{{ end }}">
  {{- if .Inverted -}}
    <div class="features-item-info">
      <h2 class="features-item-title">{{ .Title | safeHTML }}</h2>
      <p class="features-item-text">{{ .Text }}</p>
    </div>
    <div class="features-item-illustration">
      <img loading="lazy" class="features-item-image" src="{{ .Image }}" />
    </div>
  {{- else -}}
    <div class="features-item-illustration">
      <img loading="lazy" class="features-item-image" src="{{ .Image }}" />
    </div>
    <div class="features-item-info">
      <h2 class="features-item-title">{{ .Title | safeHTML }}</h2>
      <p class="features-item-text">{{ .Text }}</p>
    </div>
  {{- end -}}
</li>
