<div class="navigation-buttons">
  {{- $walkthoughChapters := sort .Parent.Pages "File.Path" -}}
  {{- $currentPage := . -}}
  {{- $currentIndex := -1 -}}
  {{- range $index, $element := $walkthoughChapters -}}
    {{- if (eq $currentPage $element) -}}
      {{- $currentIndex = $index -}}
    {{- end -}}
  {{- end -}}
  {{- $previousIndex := (sub $currentIndex 1) -}}
  {{- $nextIndex := (add $currentIndex 1) -}}
  {{- $previousPage := index $walkthoughChapters $previousIndex -}}
  {{- $nextPage := index $walkthoughChapters $nextIndex -}}
  {{- if $previousPage -}}
    <a class="navigation-button previous" href="{{ $previousPage.RelPermalink }}" title="{{ $previousPage.Title | safeHTML }}">
      {{- partial "components/icon.html" "arrow-left" -}}
      <div class="navigation-button-text">
        <div class="navigation-button-role">Previous</div>
        <div class="navigation-button-title">
          <span class="navigation-button-number">{{- add $previousIndex 1 -}}.</span>{{- $previousPage.Title | safeHTML -}}
        </div>
      </div>
    </a>
  {{- end -}}
  {{- if $nextPage -}}
    <a class="navigation-button next" href="{{ $nextPage.RelPermalink }}" title="{{ $nextPage.Title | safeHTML }}">
      <div class="navigation-button-text">
        <div class="navigation-button-role">Next</div>
        <div class="navigation-button-title">
          <span class="navigation-button-number">{{- add $nextIndex 1 -}}.</span>{{- $nextPage.Title | safeHTML -}}
        </div>
      </div>
      {{- partial "components/icon.html" "arrow-right" -}}
    </a>
  {{- end -}}
</div>
