{{- define "main" -}}
  {{- $defaultLangPage := . -}}
  {{- range where .AllTranslations "Lang" .Site.Params.defaultLanguageCode -}}
    {{- $defaultLangPage = . -}}
  {{- end -}}


  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <div class="developer-header">
          {{- $thumbnailResource := $defaultLangPage.Resources.GetMatch $defaultLangPage.Params.Thumbnail -}}
          {{- if not $thumbnailResource -}}
            {{- $thumbnailResource = resources.Get "img/default-thumbnails/developer.png" -}}
          {{- end -}}
          <img loading="lazy" src="{{- $thumbnailResource.RelPermalink -}}" />
          <div>
            <h1>{{- $defaultLangPage.Title | safeHTML -}}</h1>
            <div class="developer-description">{{- .Params.excerpt -}}</div>
            <a href="{{ .Params.website }}">
              {{- i18n "developerWebsite" | safeHTML -}}
              <span class="external-link-symbol">↗</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container content content-container" role="main">
    {{- with .Content -}}
      <article role="main">
        {{- .Content -}}
      </article>
    {{- end -}}

    {{- $defaultLangPage := partial "functions/get-default-lang-page" . -}}
    {{- $allGames := where  $defaultLangPage.Site.RegularPages "Section" "games" -}}

    {{- $developerGames := slice -}}
    {{- $thisDeveloper :=  $defaultLangPage.Title -}}
    {{- range $allGames -}}
      {{- $defaultLangPage := . -}}
      {{- range where .AllTranslations "Lang" .Site.Params.defaultLanguageCode -}}
        {{- $defaultLangPage = . -}}
      {{- end -}}
      {{- $gameDeveloper := $defaultLangPage.Params.Developer -}}
      {{- if in $gameDeveloper $thisDeveloper -}}
        {{- $pageDict := dict
          "Thumbnail"           ($defaultLangPage.Resources.GetMatch $defaultLangPage.Params.Thumbnail)
          "RelPermalink"        .RelPermalink
          "Resources"           $defaultLangPage.Resources
          "Title"               ($defaultLangPage.Title | safeHTML)
          "InitialReleaseDate"  $defaultLangPage.Params.InitialReleaseDate
          "Download"            $defaultLangPage.Params.Download
        -}}

        {{- $developerGames = $developerGames | append $pageDict -}}
      {{- end -}}
    {{- end -}}


    <h2>{{- i18n "Games" | safeHTML -}}</h2>
    {{- if $developerGames -}}
      <ul class="game-list">
        {{- range $developerGames -}}
          <li class="game-list-item" title="{{- .Title | safeHTML -}}">
            {{- partial "components/game-item.html" . -}}
          </li>
        {{- end -}}
      </ul>
    {{- else -}}
      {{- i18n "developerNoGames" | safeHTML -}}
    {{- end -}}
  </div>
{{- end -}}
