{{- define "main" -}}
  {{- $params := partial "functions/get-game-data.html" . -}}
  <div class="game-header container">
    {{ $thumbnailResource := page.Resources.GetMatch $params.Thumbnail }}
    {{ $thumbnailUrl := page.Resources.GetMatch $params.Thumbnail }}
    <div class="game-header-left-column">
      <img loading="lazy" src="{{ $thumbnailUrl.Permalink }}" class="game-header-thumbnail" />
      <div class="game-header-metadata">
        <h1>{{- $params.Title | safeHTML -}}</h1>
        <p>{{- $params.Excerpt | safeHTML -}}</p>
        {{- partial "components/game-download.html" $params -}}
      </div>
    </div>
    <div class="game-header-right-column">
      <h2>{{- i18n "gameInformation" | safeHTML -}}</h2>
      {{- partial "components/game-info-table.html" $params -}}
      <div class="game-header-dummy-spacer"></div>
    </div>
  </div>

  <div class="container content content-container game-content">
    <div class="game-content-left-column">
      {{- if $params.Trailer -}}
        <h2>{{- i18n "gameVideo" | safeHTML -}}</h2>
        {{- partial "components/youtube-player.html" (dict "id" $params.Trailer "class" "game-trailer") -}}
      {{- end -}}
      <h2>{{- i18n "gameDescription" | safeHTML -}}</h2>
      <article role="main">
        {{- $params.Content -}}
      </article>
      {{- if (not (eq $params.Walkthroughs nil)) -}}
        <h2>{{- i18n "gameWalkthrough" | safeHTML -}}</h2>
        <ul class="game-walkthough-list">
          {{- range $params.Walkthroughs -}}
            <li class="game-walkthough-list-item">
              {{- if eq .type "walkthrough" -}}
                {{- $walkthroughPageUrl := replaceRE "(.*?)/games/(.*?)/" "/walkthroughs/$2" $params.RelPermalink -}}
                {{- $walkthroughPage := site.GetPage $walkthroughPageUrl -}}
                <a href="{{ $walkthroughPage.RelPermalink }}">
                  <span class="game-walkthough-list-item-text">{{- i18n "gameWalkthroughTextual" | safeHTML -}}</span>
                  {{- partial "components/icon.html" "arrow-right" -}}
                </a>
              {{- else if eq .type "video" -}}
                <a href="{{ .url }}">
                  <span class="game-walkthough-list-item-text">{{- i18n "gameWalkthroughVideo" | safeHTML -}}</span>
                  {{- partial "components/icon.html" "arrow-right" -}}
                </a>
              {{- end -}}
            </li>
          {{- end -}}
        </ul>
      {{- end -}}
    </div>
    <div class="game-content-right-column">
      {{- if $params.Screenshots -}}
        <h2>{{- i18n "gameScreenshots" | safeHTML -}}</h2>
        <div class="game-screenshots">
          {{- range $params.Screenshots -}}
            {{- $screenshotResource := page.Resources.GetMatch . -}}
            {{- $screenshotUrl := $screenshotResource.RelPermalink -}}
            <a class="game-screenshot" data-clickable-image="true" href="{{ $screenshotUrl }}">
              <img loading="lazy" src="{{ $screenshotUrl }}" />
            </a>
          {{- end -}}
        </div>
      {{- end -}}
    </div>
  </div>
{{- end -}}
